@import "tailwindcss";

/* @tailwind base;
@tailwind components; */
/* @tailwind utilities; */

/* ✅ Define keyframes globally */
@keyframes popIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ✅ Add utility class inside the `@layer utilities` block */
@layer utilities {
  .animate-popIn {
    animation: popIn 5s ease-in-out 1s;
  }
}


@keyframes floatText {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
@layer utilities {
  .animate-float-text {
    animation: floatText 4s ease-in-out infinite;
  }
}

@layer utilities {
  .transition-bg-transform {
    transition: background 0.3s ease, transform 0.2s ease;
  }
}

.restoContainer::-webkit-scrollbar {
  width: 40px;
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thick;
    scrollbar-color: #a9adae #f5f1e0;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 40px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e1e1dd;
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccdeeb;
    border-radius: 20px;
    border: 3px solid #f5f1e0;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #d7f4f6;
  }
}


@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1.5s ease;
  }
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.6s ease-in-out both;
  }
}